html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    display: block;
    height: 95%;
    padding: 15px;
}

.header span{
    color:#15173B;
    box-shadow: 5px 5px;
}

.navigation li {
    display: inline-block;
    padding: 10px;
    text-transform: lowercase;
    font-family: sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #15173B;
}

.navigation a:hover {
    opacity: 0.2;
}

#hero {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }

.large {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.green {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #DEF0F0;
    padding: 50px;
}

.green button {
    border-radius: 10px;
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid white 2px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #15173B;
    color: white;
    box-shadow: 5px 5px black;
}

.white {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: white;
    border: solid 1px #15173B;
    border-top: black double;
    padding: 50px;
}

.white button {
    
    border-radius: 10px;
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid white 2px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #15173B;
    color: white;
    box-shadow: 5px 5px black;
}

.blog-cta {
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.pink {
    background-color: pink;
    padding: 50px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.pink h3 {
    margin-top: 5px;
}

.blog-cta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

button {
    border: 1px solid black;
    color: black;
    padding: 10px 25px;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: transparent;
}

.pink button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}


.footer {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px black;
    margin-top: 20px;
}

.footer img {
    height: 75%;
    padding: 10px;
}

.footer h1 {
    margin-right: 30px;
}

